<a href="/dishedit/add-dish/main/"><div class="inner-box dash-button">
    Add Main
</div></a>




<a href="/dishedit/add-dish/side/"><div class="inner-box dash-button">
    Add Side
</div></a>