<div class="inner-box login-box">
    <span id="login-box-title">Staff Login</span>

    <div class="login-form">
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username" class="login-label">
                    Username
                </label>

                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password" class="login-label">
                    Password
                </label>
                <input type="password" id="password" name="password">
            </div>
            <a class="custom-btn"href="/">Cancel</a>
            <input type="submit" class="custom-btn" value="Sign In">
        </form>
    </div>

</div>