<div class="title">
    <ul class="unstyled">
        <li><span class="title-word-burger">Burger</span></li>
        <li><span class="title-word-dudes">Dudes</span></li>
        <li><span class="tagline">Locally sourced fresh ingredients make the best burger every
                time</span></li>
    </ul>
    <img class="burger" src="/img/title-burger2.png" alt="Burger">
</div>