<div class="inner-box first-box menu-box">
    <u>Mains</u><br />
    <ul>
        {{#entries}}
        {{#visible}}
        {{#main}}
        <ul>
            <li>{{name}} - </li>
            <li>{{description}} - </li>
            <li>{{price}}</li><br />
            <li>Ingredients - {{ingredients}}</li><br />
            <li>Allergens - {{allergens}}</li>
        </ul>
        {{/main}}
        {{/visible}}
        {{/entries}}
    </ul>
    {{^entries}}
    {{^visible}}
    <br /><br />
    No main items.
    {{/visible}}
    {{/entries}}
</div>
<div class="inner-box first-box menu-box">
    <u>Sides</u>
    <ul>
        {{#entries}}
        {{#visible}}
        {{#side}}
        <ul>
            <li>{{name}} - </li>
            <li>{{description}} - </li>
            <li>{{price}}</li><br />
            <li>Ingredients - {{ingredients}}</li><br />
            <li>Allergens - {{allergens}}</li>
        </ul>
        {{/side}}
        {{/visible}}
        {{/entries}}
    </ul>
    {{^entries}}
    {{^visible}}
    No side items.
    {{/visible}}
    {{/entries}}
</div>