<div class="inner-box first-box quote">
    "The best dang burgers you've ever eaten" - Owner
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="inner-box image-box content-image">
            <img src="/img/burger2.jpg" alt="Chef plating burger">
        </div>

        <div class="tag">
            Founder
        </div>
        <div class="inner-box last-box featured-dish">
            <div class="image-box featured-dish-image">
                <img src="/img/Founder.jpg" alt="Burger Featured Dish The Beast">
            </div>
            <span class="featured-dish-text">Founder Andrew has 10 years culinary experience in Michelin Star
                restaurants but has a passion for cooking unpretentious, good quality burgers</span>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="inner-box">
            <u>Our Ethos</u><br /><br />

            Burger Dudes Andrew and John pride themselves on always delivering the best burger possible made with the
            freshest local ingredients. All ingredients are brought in the morning of business and anything left over at
            the end is donated to Glasgow's food shelters and homeless charities. This allows us to ensure that you
            always get the freshest food, and that the local community can thrive.


        </div>
    </div>
</div>