<div class="inner-box first-box quote">
    "Our burgers are always tasty and always freshly made." - Andrew and John
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="inner-box image-box content-image">
            <img src="./img/chef.jpg" alt="Chef plating burger">
        </div>

        <div class="tag">
            Featured Dish
        </div>
        <div class="inner-box last-box featured-dish">
            <div class="image-box featured-dish-image">
                <img src="./img/burger.jpg" alt="Burger Featured Dish The Beast">             
            </div>
            <span class="featured-dish-text">The Beast is this weeks featured dish! A succulent 8oz steak patty glazed in our signature Texas style BBQ sauce. Pop in to try it!</span>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="inner-box">
            <u>Our History</u><br /><br />
            

            After being unimpressed with Glasgow's current odderings,
            Founders Andrew and John decided to embark on a cullinary journey and create the best
            simple cheese burger possible.
            After 3 years of trial and error, as well as input from friends, they finally settled on
            what would become the iconic 'Classic Burger'.<br /><br />


            Not long after, on October 1st 2011 they opened the doors to Burger Dudes and have been
            serving the good people of Glasgow ever since with only the highest quality
            burgers.


        </div>
    </div>
</div>