<html>

<head>
    {{>partials/header}}
</head>

<body>
    <div class="container-fluid">
        <div class="row fill">
            <div class="col-xl-4 left">
                {{>partials/sidebar}}
            </div>
            <div class="col-xl-8 right">
                {{>partials/navigation}}
                <div class="content-box">

                    {{>staff/staffContent/removeDishContent}}

                </div>
            </div>
        </div>
    </div>
</body>
{{>partials/footer}}

</html>